*{padding:0;margin:0}


.top_slide_wrap{width:100%;height:666px;overflow:hidden;position:relative;z-index:1;margin-top:0px;}
.slide_box{height:666px;overflow:hidden;}
.slide_box li{height:666px; width:100%;}
.slide_box img{width:100%;height:666px; margin:auto;}



.op_btns{width:980px;margin:-590px auto 0;position:relative;z-index:3;*margin-top:-530px}
.op_btns .op_btn
{display:block;width:62px;height:62px;cursor:pointer;background:url("../imaegs/icons_cb372887.png") no-repeat 0 -385px;overflow:hidden;position:absolute;margin-top:240px;_background:0;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../imaegs/icons_page_bg_baf3ab1f.png")}

.op_btns .op_prev{left:-135px}
.op_btns .op_next{right:-135px}



.bx-wrapper .bx-controls{margin-top:-60px}
.bx-wrapper .bx-controls .bx-pager{clear:both;width:100%;text-align:center;position:relative}

.bx-wrapper .bx-controls .bx-pager a{background:#e0e0e0;width:8px;height:8px;display:inline-block;overflow:hidden;background:url("../imaegs/icons_cb372887.png") -116px -90px\9;_background:0;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../imaegs/icons_page_dot_69b4fad9.png")}

.bx-wrapper .bx-controls .bx-pager a:hover,.bx-wrapper .bx-controls .bx-pager a.active{background:#ed1b23;width:10px;height:10px;background:url("../imaegs/icons_cb372887.png") 0 -90px\9;_background:0;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../imaegs/icons_page_dot_active_33714704.png")}

.product_slide_wrap .bx-wrapper .bx-controls{margin-top:26px}.introduce_links .bdshare-button-style0-16 a:hover{opacity:1}